<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @using LoginRegistration.Models
    @model LoginUser

    <title>Document</title>
</head>
<body>
    <form asp-action="LoginPending" asp-controllers="Home" method="POST">
            <label asp-for="LoginEmail"></label>
            <input asp-for="LoginEmail">
            <span asp-validation-for="LoginEmail"></span>
        <br>
            <label asp-for="LoginPassword"></label>
            <input asp-for="LoginPassword" class="form-control">
            <span asp-validation-for="LoginPassword"></span>
        <br>
            <button>Login</button>
    </form>
</body>
</html>